<html>
  <head>
    <title>AppsCake - Launch Successful</title>
  </head>
  <body>
    <h1>Your AppScale Cloud is Being Deployed</h1>
    <p>Your deployment timestamp: <%= @timestamp %></p>
    <p>Your deployment process ID: <%= @pid %></p>
    <p>You can check the progress of the deployment at <a href="logs/deploy-<%= @timestamp %>.log">deploy-<%= @timestamp %>.log</a></p>
  </body>
</html>