<html>
	<head>
		<style>
			form {
				display: inline;
			}
			ul input {
				font-size: 8px;
			}
		</style>
	</head>
	<body>
		{% if user %}
			Currently logged in as {{user.email}} - <a href="/account">log out</a>

			<h3>Upload</h3>
			<form id="form" action="{{upload_url}}" method="POST" enctype="multipart/form-data">
				<input type="file" name="file">
				<input type="submit" name="submit" value="Submit">
			</form>
		{% else %}
			Not logged in - <a href="/account">log in</a>
		{% endif %}
		<h3>Files</h3>
		<ul>
		{% if not wrappers %}
			No files have been uploaded
		{% endif %}
		{% for wrapper in wrappers %}
			<li><a href="/serve/{{wrapper.blob.key}}">{{wrapper.blob.filename}}</a> ({{wrapper.blob.size}})
			<small>uploaded {{wrapper.date|date:"D d M Y g:i:s A"}} by
			{% ifequal wrapper.user user %}
				you - <form action="/delete" method="post">
					<input type="hidden" name="key" value="{{wrapper.key}}">
					<input type="submit" value="Delete">
			{% else %}
				{{wrapper.user.email}}
			{% endifequal %}</small>
			</li>
		{% endfor %}
		</ul>
		

		<form>
	</body>
</html>