
        .lavaLampNoImage {
            position: relative;

            background-color: white;
            padding: 15px;
            overflow: hidden;
        }
                .lavaLampNoImage li {
                    float: left;
                    list-style: none;
                }
                    .lavaLampNoImage li.back {
                        border: 1px solid #000;
                        background-color: #e6e8ea;
                        width: 9px;
                        height: 30px;
                        z-index: 8;
                        position: absolute;
                    }
                    .lavaLampNoImage li a {
                        font: bold 14px arial;
                        text-decoration: none;
                        color: #000;
                        outline: none;
                        text-align: center;
                        top: 7px;
                        text-transform: uppercase;
                        letter-spacing: 0;
                        z-index: 10;
                        display: block;
                        float: left;
                        height: 30px;
                        position: relative;
                        overflow: hidden;
                        margin: auto 10px;
                    }
                        .lavaLampNoImage li a:hover, .lavaLampNoImage li a:active, .lavaLampNoImage li a:visited {
                            border: none;
                        } 
        .toolbar {
            position: relative;
            width: 560px;
            background-color: white;
            margin: 10px 0;
            overflow: hidden;
            border: 1px solid gray;
         }         

	.content {
		width:560px;
                margin: 15px;
	}

	.error {
		border: 1px solid;
		margin: 10px 0px;
		width: 455px;
		padding: 15px 10px 15px 65px;
		background-repeat: no-repeat;
		background-position: 10px center;
		color: #D8000C;
		background-color: #FFBABA;
		background-image: url(../img/error.png);
		overflow: hidden;
	}



 	.success {
		border: 1px solid;
		margin: 10px 0px;
		width: 455px;
		padding: 15px 10px 15px 65px;
		background-repeat: no-repeat;
		background-position: 10px center;
		color: #4F8A10;
		background-color: #DFF2BF;
		background-image: url(../img/success.png);
		overflow: hidden;
	}